#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "bat"
    "btop"
    "cmake"
    "pkg-config"
    "git-delta"
    "eza"
    "fd"
    "fzf"
    "ripgrep"
    "starship"
    "tlrc"
    "wget"
    "zoxide" -}}

{{ $casks := list
    "bitwarden"
    "iterm2"
    "karabiner-elements"
    "spotify"
    "microsoft-edge"
    "visual-studio-code" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
