{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
private_dot_config/karabiner/**
private_dot_config/skhd/skhdrc
private_dot_config/yabai/yabairc
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}