# Oh-My-Zsh
export ZSH="$HOME/.oh-my-zsh"
export ZSH_CUSTOM="$HOME/.config/zsh"
export ZSH_CACHE_DIR="$HOME/.cache/zsh"
export ZSH_COMPDUMP="$ZSH_CACHE_DIR/.zcompdump-${HOST/.*/}-${ZSH_VERSION}"
export fpath=("$({{ .brew_path }} --prefix)/share/zsh/site-functions" $fpath)

zstyle ':omz:update' mode disabled

ZSH_THEME=""

plugins=(
    zhooks
    zsh-autosuggestions
    zsh-completions
    zsh-autopair

    zsh-syntax-highlighting
    fast-syntax-highlighting
)

source "$ZSH/oh-my-zsh.sh"
