#!/bin/bash

[[ ! -d "/home/linuxbrew" ]] && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

packages=(
    "bat"
    "btop"
    "git-delta"
    "eza"
    "fd"
    "fzf"
    "ripgrep"
    "starship"
    "tlrc"
    "zoxide"
)

{{ .brew_path }} install "${packages[@]}"
